<div class="app-body">
	<div class="app-content">
		<div class="scrollable">
			<div class="scrollable-content section">
		   
				

					<div class="panel" bs-panel="">
						<div class="panel-heading">
							<h2 class="panel-title">
								Login
							</h2>
						</div>
						<div class="panel-body">
							<div>

								<div class="form-group row">
									<div class="form-control-wrapper col-xs-12 col-sm-12 col-lg-12">
										<input bs-form-control="" type="text" ng-model="$parent.user" label="Username" label-class="col-xs-3 col-sm-2 col-lg-1" class="needsclick form-control" placeholder="Username">
									</div>
								</div>

								<div class="form-group row">
									<div class="form-control-wrapper col-xs-12 col-sm-12 col-lg-12">
										<input bs-form-control="" type="password" ng-model="$parent.pass" label="Password" label-class="col-xs-3 col-sm-2 col-lg-1" class="needsclick form-control" placeholder="Password">
									</div>
								</div>

								<div class="form-group row">
									<button class="btn btn-primary" ng-click="login()">Login</button>
								</div>

							</div>
						</div>
					</div>
				
			</div>
		</div>
	</div>
</div>